In [1]:
import pandas as pd
import numpy as np

In [ ]:
#download the class movie reviews from here:
#https://docs.google.com/spreadsheets/d/17rCJzmWxqvAu9rkpkgt4ToccIlY4A1Ffuu1W9X3B8Ag/
#then read that in as a pandas dataframe

In [31]:
M = pd.read_csv('Movies.csv', index_col='Name')

In [3]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [4]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

In [40]:
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Mike,NaN,NaN,5,NaN,4,NaN,3,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2
HJ SONG,NaN,2,3,4,4,5,NaN,4,4,5,5,NaN,NaN,NaN,5,5
Ryan Hansen,NaN,3,4,3,5,2,3,3,3,NaN,5,NaN,3,NaN,NaN,NaN
Olumuyiwa Durojaiye,NaN,NaN,NaN,NaN,NaN,5,NaN,5,2,NaN,3,NaN,NaN,NaN,NaN,2
Charlie,NaN,2,3,NaN,3,2,3,NaN,4,5,2,NaN,2,3,NaN,2

###Question 1:  What movie is most Similar to 'The fault in our stars' (60 pts)

In [15]:
get_recs('The Fault in Our Stars',M,1)

[('How to Train your Dragon 2', 0.40401368444482771)]

###Question 2:  Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

In [7]:
#HINTS...

#the movies I've seen
my_ratings = M.ix['Bradley Brubaker'].dropna()
#the movie I've rated the highest
my_ratings.sort(ascending=False)
#the name of the movie I've rated the highest
fav_movie = my_ratings.index[0]

In [16]:
get_recs(fav_movie,M,5)

[('How to Train your Dragon 2', 0.26652112563315028),
 ('Malificent', 0.21978782727000856),
 ('Guardians of the Galaxy', 0.14846644469434814),
 ('Interstellar', 0.14126502389928408),
 ('300: Rise of an Empire', 0.11145630827799345)]

###Question 3: Bonus Question...  For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)

In [41]:
#Find classmates similarity
ppl_sims = []
for name in M.index:
    if name == 'Bradley Brubaker':
        continue
    cor = pearson(M.ix['Bradley Brubaker'], M.ix[name])
    if np.isnan(cor):
        continue
    else:
        ppl_sims.append((name, cor))
    
ppl_sims.sort(key=lambda tup: tup[1], reverse=True)

In [42]:
#Get 2 most similar classmates ratings
ppl_ratings = []
for p in ppl_sims[:2]:
    ratings = []
    for t in M.columns:
        rate = M.ix[p[0]][t]
        ratings.append(rate)
    ppl_ratings.append((p[0],ratings))

In [43]:
#Movies to predict
movies = [0,6,7,9,11,13,14]

In [58]:
#Classmates-Based Ratings Prediction
tmp = []
n, d = 0, 0
for m in movies:
    for p in range(0,len(ppl_ratings)):
        if np.isnan(ppl_ratings[p][1][m]):
            ppl_ratings[p][1][m] = 0
        n = n + ppl_ratings[p][1][m]*ppl_sims[p][1]
        d = d + ppl_sims[p][1]
    r = n/d
    tmp.append((m, r))

In [59]:
#Replace with movie titles
movie_ratings = []
for t in range(0,len(tmp)):
    title = M.columns[tmp[t][0]]
    movie_ratings.append((title,round(tmp[t][1])))

In [60]:
movie_ratings

[('American Sniper', 3.0),
 ('Malificent', 2.0),
 ('Big Hero 6', 2.0),
 ('Interstellar', 2.0),
 ('Gone Girl', 1.0),
 ('The Fault in Our Stars', 1.0),
 ('Unbroken', 1.0)]